<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-content"></span>
<div id="page-wrapper" ng-class="{'open': layoutCtrl.toggle}" ng-cloak>

    <cwt-sidebar on-toggle="layoutCtrl.onSidebarToggle($event)"></cwt-sidebar>

    <div id="content-wrapper">
      <div class="page-content">

        <cwt-header-bar></cwt-header-bar>

        <div class="main-content">

        <!-- Main Content -->
          <div ui-view></div>
        </div>


      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
