<div class="login-wrapper" ng-cloak>
    <form name="forgotPasswordCtrl.resetPasswordForm" class="form-signin" ng-submit="forgotPasswordCtrl.sendNewPassword()">
        <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-login"></span>
        <h2 class="form-signin-heading">Réinitialisation du mot de passe</h2>
        <div class="form-group floating-label-wrapper">
            <input id="username" type="text" class="form-control" ng-model="forgotPasswordCtrl.username" floating-label required  />
            <div class="floating-label">Nom d'utilisateur</div>
        </div>
        <div vc-recaptcha  key="forgotPasswordCtrl.captchaKey" theme="'light'" lang="FR"
        on-success="forgotPasswordCtrl.setCaptchaResponse(response)" ></div> <br>
        <button  class="btn btn-lg btn-primary btn-block" type="submit"><i class="glyphicon glyphicon-asterisk"></i>&nbsp; Réinitialiser</button><br>
        <a ui-sref="app.login">Retour à la page de connection</a>
    </form>
</div>
