<div class="row">

	<div class = "row" ng-if="userLockControlCtrl.lock.isLocked">
		L'utilisateur est bloqué depuis : {{userLockControlCtrl.lock.lockingTime |cwtDate}}
		et jusque: {{userLockControlCtrl.lock.lockUntil |cwtDate}}
		<button type="button"
			class="btn btn-primary btn-sm"
			ng-click="userLockControlCtrl.unlock()">
			<i class="glyphicon glyphicon-lock"></i> Débloquer
		</button>	
	</div>
	<toggle class="pull-right"
		ng-model="userLockControlCtrl.lock.adminUnlocked"
		ng-change="userLockControlCtrl.toggleSuspendButton()"
		on="Actif"
		off="Suspendu"
		onstyle="btn-success"
        offstyle="btn-danger">
    </toggle>
</div>
