  <div class="roomSection" ng-if="alarmCtrl.room.alarm">
        <div class="section-banner">
            <div class="section-title">Alarms
            </div>
        </div>
        <div class="form-inline alarm-box" ng-repeat="alarm in alarmCtrl.alarms">
            <div class="btn btn-sm btn-danger btn-close pull-right" ng-click="alarmCtrl.removeAlarm(alarm)"><span
                    class="glyphicon glyphicon-remove"></span></div>
            <div class="box-wrapper">
                <input class="form-control input-sm" type="text" ng-model="alarm.name">

                    <toggle
                    size="btn-sm"
                    onstyle="btn-success"
                    ng-model="alarm.isOn"
                    >
                    </toggle>
                <br>


                <br>
                <b>Frequency</b><br>
                <input type="number" class="input-sm form-control input" ng-model="alarm.hour"/>:
                <input type="number" class="input-sm form-contro input"  ng-model="alarm.min"/>
                <div class="btn-sm btn" ng-click="alarm.frequency.monday=!alarm.frequency.monday"
                     ng-class="{'btn-default':!alarm.frequency.monday,'btn-primary':alarm.frequency.monday}">mo
                </div>
                <div class="btn-sm btn" ng-click="alarm.frequency.tuesday=!alarm.frequency.tuesday"
                     ng-class="{'btn-default':!alarm.frequency.tuesday,'btn-primary':alarm.frequency.tuesday}">tu
                </div>
                <div class="btn-sm btn" ng-click="alarm.frequency.wednesday=!alarm.frequency.wednesday"
                     ng-class="{'btn-default':!alarm.frequency.wednesday,'btn-primary':alarm.frequency.wednesday}">we
                </div>
                <div class="btn-sm btn" ng-click="alarm.frequency.thursday=!alarm.frequency.thursday"
                     ng-class="{'btn-default':!alarm.frequency.thursday,'btn-primary':alarm.frequency.thursday}">th
                </div>
                <div class="btn-sm btn" ng-click="alarm.frequency.friday=!alarm.frequency.friday"
                     ng-class="{'btn-default':!alarm.frequency.friday,'btn-primary':alarm.frequency.friday}">fr
                </div>
                <div class="btn-sm btn" ng-click="alarm.frequency.saturday=!alarm.frequency.saturday"
                     ng-class="{'btn-default':!alarm.frequency.saturday,'btn-primary':alarm.frequency.saturday}">sa
                </div>
                <div class="btn-sm btn" ng-click="alarm.frequency.sunday=!alarm.frequency.sunday"
                     ng-class="{'btn-default':!alarm.frequency.sunday,'btn-primary':alarm.frequency.sunday}">su
                </div>
                <br>
                <br>
                <b>Music</b>
                <div>Stop after (min):
                     <input type="number" class="input-sm form-control input" ng-model="alarm.music.lastTime"/>
                    Playlist :
                    <select class="form-control" ng-model="alarm.music.playlist">
                        <option  ng-repeat="playlist in alarmCtrl.playlists" value="{{playlist.file}}">{{playlist.label}}</option>
                    </select>
                </div><br>
                <b>Store</b><br>
                <checkbox
                  ng-model="alarm.store.isOn"
                  name="test"
              ></checkbox> Get the screen up<br><br>
            </div>
        </div>
        <div class="float-left btn-sm  btn btn-default" ng-click="alarmCtrl.saveAlarms()"><span
                class="glyphicon glyphicon-floppy-disk"></span> Save and apply
        </div>
        <div class=" float-right btn btn-sm  btn-primary" ng-click="alarmCtrl.addAlarm()"><span
                class="glyphicon glyphicon-plus"></span> Add alarm
        </div>
    </div>
